body {
    font-family: 'Open Sans';
}

button {
    font-family: 'Open Sans';
    text-transform: none;
}

.arm-orange:hover {
    background-color: #F9BD31;
    border-color: #F9BD31;
    color: #ffffff;
}

.arm-white {
    background-color: #fff;
    color: #504F4D;
}

.arm-blue {
    background-color: #128cab;
    color: #ffffff;
}

.arm-orange {
    background-color: #F59619;
    color: #ffffff;
    border-color: #F59619;
}

table td {
    white-space: normal;
}

.mdl-layout-title {
    font-family: 'Lato';
    font-size: 25px;
}

.mdl-layout__header {
    background: rgb(0, 43, 73);
}

a {
    color: #ff6b00;
}
